.App {
 color: white;
}

.headingh1{
  text-align: center;
}

.heading2{
  text-align: center;
}

.card{
  border: 1px solid black;
}

.generatedImg{
  text-align: center;
  height: 100%;
  width: 100%;
}

/* .generatedImgContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.comic-container{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, minmax(300px, 1fr));
}

.textInput{
  background: white;
  margin-bottom: 3px;
  border-radius: 5px;
  width: 50%;
}

.generateBtn{
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  background: #7eb2eb;
  border: rgba(255, 255, 255, 0.25);
}

.generateBtn:hover{
  background: #0067d9;
  border: rgba(255, 255, 255, 0.25);
}

.inputDiv{
  justify-content: center;
  display: flex;
  gap: 10px;
  align-items: center;
}
